<%- include('./partials/header.ejs') -%>
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl col-lg">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0  font-weight-bold text-primary text-uppercase">Data Perawat
                    <button type="button" class="btn btn-md tambah btn-success" data-toggle="modal"
                        data-target="#exampleModal">
                        Tambah Data
                    </button>
                </h6>
                <!-- Button trigger modal -->
            </div>
            <div class="card-body body-kabeh">
                <div class="table-responsive">
                    <table class="table table-light table-striped" id="dataTable">
                        <thead>
                            <tr class="text-dark text-left">
                                <th>Kode</th>
                                <th>Nama Perawat</th>
                                <th>J.Kelamin</th>
                                <th>Ruang Jaga</th>
                                <th>Jam Jaga</th>
                                <th colspan="2" class="text-center">Aksi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% result.forEach((result) => { %>
                            <tr>
                                <td><%= result.kode_perawat %></td>
                                <td><%= result.nama_perawat %></td>
                                <td><%= result.jeniskel %></td>
                                <td><%= result.nama_ruang %></td>
                                <td><%= result.jam_jaga %></td>
                                <td class="text-right">
                                    <a href="/dataPerawat/detailPerawat/<%= result.kode_perawat%>"
                                        class="btn btn-sm">
                                        <img src="/img/edit.png" width="25">
                                    </a>
                                </td>
                                <td class="text-left">
                                    <form action="/dataPerawat/<%= result.kode_perawat%>?_method=DELETE"
                                        method="post">
                                        <button type="submit" class="btn btn-sm bg-transparent"><img
                                                src="/img/delete.png" width="25" onclick="alert('Berhasil Dihapus')">
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pendaftaran Antrian Pasien</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/dataPerawat" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Nama Perawat</label>
                            <input type="text" class="form-control" name="nama_perawat">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">Jenis Kelamin</label>
                            <select class="form-control float-left" name="jeniskel">
                                <option value="Laki laki">Laki laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <textarea class="form-control" id="alamat" rows="3" name="alamat_perawat"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Tgl Lahir</label>
                            <input type="text" class="form-control" name="tgl_lahir">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">No Telepon</label>
                            <input type="text" class="form-control" name="no_telp">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nama">Nama Ruang</label>
                            <select name="kode_ruang" class="form-control">
                                <option selected>-- Pilih Satu jenis --</option>
                                <% ruangan.forEach((ruangan) => {  %>
                                <option value="<%= ruangan.kode_ruang%>"><%= ruangan.nama_ruang%></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">Jam Jaga</label>
                            <select name="jam_jaga" class="form-control">
                                    <option selected>-- Pilih Jam Jaga --</option>
                                    <option value="08.00 - 16.00">08.00 - 16.00</option>
                                    <option value="16.00 - 24.00">16.00 - 24.00</option>
                                    <option value="10.00 - 18.00">10.00 - 18.00</option>
                                    <option value="18.00 - 24.00">18.00 - 24.00</option>
                                </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" name="tambah"
                            onclick="alert('perawat berhasil ditambah');">Tambah</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') -%>