<%- include('./partials/header.ejs') -%>
    <% result.forEach((result)=> { %>
        <form
            class="needs-validation"
            action="/rekamMedis/<%= result.no_rekam_medis%>?_method=PUT"
            method="post">
            <div class="col-md-6 text-center m-auto">
                <label for="validationTooltip01">No Rekam</label>
                <input
                    type="text"
                    class="form-control form-control-lg text-center text-white font-weight-bold mb-5"
                    value="<%= result.no_rekam_medis %>"
                    name="no_rekam_medis"
                    disabled="disabled"
                    style="background-color: #00cc7f;"
                    required="required"/>
            </div>
            <div class="container">
                <div class="form-row mb-4">
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip02">Nama Pasien</label>
                        <select class="form-control" name="kode_reg_pasien" required="required">
                                <option value="<%= result.kode_reg_pasien %>"><%= result.nama_pasien %></option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip02">Tanggal Rekam</label>
                        <input
                            type="text"
                            class="form-control"
                            value="<%= result.tgl_rekam_medis %>"
                            required="required"
                            name="tgl_rekam_medis"/>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputCity">Nama Dokter</label>
                        <select class="form-control float-left" name="kode_dokter" required="required">
                            <option value="<%= result.kode_dokter %>"><%= result.nama_dokter %></option>
                            <option value="" disabled>====================================</option>
                            <% dokter.forEach((result) => { %>
                                <option value="<%= result.kode_dokter %>"><%= result.nama_dokter %></option>
                                <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="inputCity">Nama Obat</label>
                                <select class="form-control float-left" name="kode_obat">
                                    <option value="<%= result.kode_obat %>"><%= result.nama_obat %></option>
                                    <option value="" disabled>====================================</option>
                                    <% obat.forEach((result) => { %>
                                        <option value="<%= result.kode_obat %>"><%= result.nama_obat %></option>
                                        <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="inputCity">Diagnosa</label>
                                        <select class="form-control float-left" name="kode_diagnosa" required>
                                            <option value="<%= result.kode_diagnosa %>"><%= result.hasil_pemeriksaan %>  ~<%= result.nama_pasien%></option>
                                            <option value="" disabled>====================================</option>
                                            <% diagnosa.forEach((diagnosa) => { %>
                                            <option value="<%= diagnosa.kode_diagnosa %>"><%= diagnosa.hasil_pemeriksaan %>  ~<%= result.nama_pasien%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row m-auto pt-5">
                                    <a href="/rekamMedis" class="btn btn-block btn-danger">Tutup</a>
                                    <button
                                        class="btn btn-block btn-primary"
                                        type="submit"
                                        onclick="alert('data berhasil diupdate');" style="background-color: #00cc7f;">
                                        Simpan
                                    </button>
                                </div>
                            </div>
                            <% }) %>
                            </form>

                            <%- include('./partials/footer.ejs') -%>