<%- include('./partials/header.ejs') -%>
    <!-- Content Row -->
    <div class="row">

        <!-- Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-s font-weight-bold text-light text-uppercase mb-1 float-left mt-1"><img src="img/icon/pasien.png" alt="" width="40px"></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2">Antrian
                                        <span style="color: #a253db;">Pasien</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto h2 text-dark font-weight-bold mt-2">
                            <%= jumlahPasien%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-s font-weight-bold text-light text-uppercase mb-1 float-left mt-1"><img src="img/icon/pasienDiperiksa.png" alt="" width="40px"></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2">Sudah
                                        <span style="color: #22d7ff;">Periksa</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto h2 text-dark font-weight-bold mt-2">
                            <%= jumlahPasienSudahPeriksa%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl col-lg">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2 mt-2">
                        <span style="color: #7aa000;">Administrasi Pasien</span>
                    </div>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <!-- ! STEP 1 -->
                    <div
                        class="tab-pane fade show active"
                        id="nav-home"
                        role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="container">
                            <% if(pasienSudahDirekam.length == 0) { %>
                                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                    <strong>Belum ada Pasien!!</strong>
                                    <a href="/homeKasir">refresh</a>
                                </div>
                                <% } else if(pasienSudahDirekam.length > 0) { %>
                                    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                                        <strong>Periksa Pasien
                                        </strong>
                                        <a href="/homeKasir">refresh</a>
                                    </div>
                                <% } %>
                                <div class="row">
                                    <div class="col col-8">

                                        <ul class="list-group mb-4">
                                            <% pasienSudahDirekam.forEach((pasien) => { %>
                                                <li class="list-group-item bg-light">
                                                    <div class="row">
                                                        <div class="col col-6">
                                                            <%= pasien.nama_pasien%>
                                                            <span class="badge badge-danger"><%= pasien.kode_reg_pasien%></span>
                                                        </div>
                                                        <div class="col col-6">
                                                            <form
                                                                action="/pasienSudahDiagnosa/<%= pasien.kode_reg_pasien %>?_method=PUT"
                                                                method="post">
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-info btn-sm float-right badge-pill ml-3 font-weight-bold"
                                                                    data-toggle="modal"
                                                                    data-target="#diagnosa<%= pasien.kode_reg_pasien%>">BERI TAGIHAN</button>
                                                            </form>
                                                        </div>
                                                    </li>
                                                    <% join.forEach((pasien) => { %>
                                                        <div
                                                            class="modal fade bd-example-modal-xl"
                                                            id="diagnosa<%= pasien.kode_reg_pasien%>"
                                                            tabindex="-1"
                                                            role="dialog"
                                                            aria-labelledby="exampleModalLabel"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog modal-xl" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                                            <span class="font-weight-bold"><%= pasien.nama_pasien%></span>(<%= pasien.tempat_pemeriksaan%>) <%= pasien.status_pemeriksaan%></h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <form action="/homeKasir/pasienDitagih" method="post">
                                                                        <div class="modal-body">
                                                                            <input
                                                                                type="hidden"
                                                                                name="kode_reg_pasien"
                                                                                value="<%= pasien.kode_reg_pasien%>">
                                                                            <input
                                                                                type="hidden"
                                                                                name="tarif_kamar"
                                                                                value="<%= pasien.tarif_kamar%>">
                                                                            <input
                                                                                type="hidden"
                                                                                name="biaya_administrasi">
                                                                            <input type="hidden" 
                                                                            name="harga_obat" value="<%= pasien.harga_obat %>">
                                                                            <div class="form-row align-items-center">
                                                                                <div class="col-md-4 mb-3">
                                                                                    <label for="inputPassword4">Tanggal Bayar</label>
                                                                                    <input
                                                                                        type="text"
                                                                                        class="form-control"
                                                                                        name="tgl_administrasi"
                                                                                        placeholder="contoh <%= moment().format('DD MMMM, YYYY') %>">
                                                                                </div>
                                                                                <div class="col-md-4 mb-3">
                                                                                    <label for="inputPassword4">Diagnosa</label>
                                                                                    <select class="form-control float-left" name="kode_diagnosa" disabled>
                                                                                            <option value="<%= pasien.kode_diagnosa%>" selected>(<%= pasien.tgl_pemeriksaan %>)
                                                                                                (<%= pasien.nama_pasien %>)
                                                                                            </option>
                                                                                            </select>
                                                                                        </div>
                                                                                <div class="col-md-4 mb-3">
                                                                                    <label for="inputPassword4">Resep</label>
                                                                                    <select class="form-control float-left" name="kode_resep" disabled>
                                                                                            <% resep.forEach((resep) => { %>
                                                                                            <option value="<%= resep.kode_resep%>" selected>(<%= resep.tgl_resep %>)
                                                                                                (<%= resep.nama_pasien %>)</option>
                                                                                                <% }) %>
                                                                                            </select>
                                                                                        </div>
                                                                                <div class="col-md-4 mb-3">
                                                                                    <label for="inputPassword4">Obat</label>
                                                                                    <select class="form-control float-left" name="kode_obat" disabled>
                                                                                            <option value="<%= pasien.kode_obat%>" selected>(<%= pasien.nama_obat %>)
                                                                                                (<%= pasien.nama_pasien %>)</option>
                                                                                            </select>
                                                                                        </div>
                                                                                                <div class="col-md-4 mb-3">
                                                                                                    <label for="nama">Lama Menginap</label>
                                                                                                    <input type="text" class="form-control" name="lama_menginap" placeholder="contoh : (1,2) hanya angka">
                                                                                                </div>
                                                                                                <div class="col-auto my-1 mt-3">
                                                                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                                                                        <label class="" for="customControlAutosizing"><h5><span class="badge badge-pill badge-danger">+ Biaya Pendaftaran Rp 15.000</span></h5></label>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    <button class="btn btn-primary btn-lg btn-block font-weight-bold" type="submit">Kirim</button>
                                                                                                </div>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <% }) %>
                                                                                    <% }) %>
                                                                                    </ul>

                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <%- include('./partials/footer.ejs') -%>