<%- include('./partials/header.ejs') -%>
    <!-- Content Row -->
    <div class="row">

        <!-- Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-s font-weight-bold text-light text-uppercase mb-1 float-left mt-1"><img src="img/icon/pasien.png" alt="" width="40px"></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2">Antrian
                                        <span style="color: #a253db;">Pasien</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto h2 text-dark font-weight-bold mt-2">
                            <%= jumlahPasien%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-s font-weight-bold text-light text-uppercase mb-1 float-left mt-1"><img src="img/icon/pasienDiperiksa.png" alt="" width="40px"></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2">Sudah
                                        <span style="color: #22d7ff;">Periksa</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto h2 text-dark font-weight-bold mt-2">
                            <%= jumlahPasienSudahPeriksa%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <a href="/rekamMedis">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-s font-weight-bold text-light text-uppercase mb-1 float-left mt-1"><img src="img/icon/rekamMedis.png" alt="" width="40px"></div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2">Rekam
                                            <span style="color: #00cc7f;">Medis</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto h2 text-dark font-weight-bold mt-2">
                                <%= jumlahRekam%>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <a href="/dataRuangan">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-s font-weight-bold text-light text-uppercase mb-1 float-left mt-1"><img src="img/icon/ruangan.png" alt="" width="40px"></div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2">Data
                                            <span style="color: #efc84a;">Ruangan</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto h2 text-dark font-weight-bold mt-2">
                                <%= jumlahRuangan%>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div
                                class="text-s font-weight-bold text-light text-uppercase mb-1 float-left mt-1"><img src="img/icon/perawat.png" alt="" width="40px"></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2">Jumlah
                                        <span style="color: #efc84a;">Perawat</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto h2 text-dark font-weight-bold mt-2">
                            <%= jumlahPerawat%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <div class="row">
            <!-- Area Chart -->
            <div class="col-xl col-lg">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 text-center">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2 mt-2">Langkah 1 |
                            <span style="color: #a253db;">Periksa Pasien</span>
                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- ! STEP 1 -->
                        <div
                            class="tab-pane fade show active"
                            id="nav-home"
                            role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="container">
                                <% if(pasien.length == 0) { %>
                                    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                        <strong>Belum ada Antrian saat ini!!</strong> <a href="#exampleModal" data-toggle="modal"
                                        data-target="#exampleModal">Tambah Pasien</a>
                                    </div>
                                    <% } else if(pasien.length > 0) { %>
                                        <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                                            <strong>Periksa Pasien
                                            </strong> <a href="#exampleModal" data-toggle="modal"
                                            data-target="#exampleModal">Tambah Pasien</a>
                                        </div>
                                    <% } %>

                                        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
            <h5 class="modal-title" id="exampleModalLabel">Pendaftaran Antrian Pasien</h5>
        </div>
        <div class="modal-body">

            <form action="/tambahPasien" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">NIK</label>
                        <input type="text" class="form-control" name="nik">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Nama Pasien</label>
                        <input type="text" class="form-control" name="nama_pasien">
                    </div>
                </div>
                <div class="form-group">
                    <label for="alamat">Alamat</label>
                    <textarea class="form-control" id="alamat" rows="3" name="alamat_pasien"></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">No Telp</label>
                        <input type="text" class="form-control" name="no_telp">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCity">Jenis Kelamin</label>
                        <select class="form-control float-left" name="jeniskel">
                            <option value="Laki laki">Laki laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nama">Tanggal Daftar</label>
                        <input type="text" class="form-control" name="tgl_daftar"
                            placeholder="contoh <%= moment().format('DD MMMM, YYYY') %>">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCity">Usia</label>
                        <input type="text" class="form-control" name="usia">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputCity">Tempat Pemeriksaan</label>
                        <select class="form-control float-left" name="tempat_pemeriksaan">
                            <option value="IGD">IGD</option>
                            <option value="Poli Penyakit Dalam">Poli Penyakit Dalam</option>
                            <option value="Poli Spesialis Anak">Poli Spesialis Anak</option>
                            <option value="Poli Gigi dan Mulut">Poli Gigi dan Mulut</option>
                            <option value="Poli Spesialis THT">Poli Spesialis THT</option>
                            <option value="Poli Penyakit Kulit dan Kelamin">Poli Penyakit Kulit dan Kelamin</option>
                            <option value="Poli Spesialis Mata">Poli Spesialis Mata</option>
                            <option value="Poli Spesialis Syaraf">Poli Spesialis Syaraf</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark btn-lg btn-block" name="tambah"
                        onclick="alert('antrian berhasil ditambah');" style="background-color: #a253db;">Tambah</button>
                </div>
        </div>
        </form>
    </div>
</div>
</div>

    
                                    <div class="row">
                                        <div class="col col-8">
    
                                            <ul class="list-group mb-4">
                                                <% pasien.forEach((pasien) => { %>
                                                    <li class="list-group-item bg-light">
                                                        <div class="row">
                                                            <div class="col col-6">
                                                                <%= pasien.nama_pasien%>
                                                                <span class="badge badge-danger"><%= pasien.kode_reg_pasien%></span>
                                                            </div>
                                                            <div class="col col-6">
                                                                <form
                                                                    action="/homePerawat/<%= pasien.kode_reg_pasien %>?_method=PUT"
                                                                    method="post">
                                                                    <button
                                                                        type="submit"
                                                                        class="btn btn-info btn-sm float-right badge-pill ml-3 font-weight-bold" onclick="alert('pasien telah diperiksa dan akan didiagnosa DOKTER')">PERIKSA</button>
                                                                </form>
                                                                <form
                                                                    action="/<%= pasien.kode_reg_pasien%>?_method=DELETE"
                                                                    method="post">
                                                                    <button
                                                                        type="submit"
                                                                        class="btn btn-outline-danger btn-sm float-right badge-pill ml-4 font-weight-bold" onclick="alert('antrian pasien ini dibatalkan');">BATAL</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                    <% }) %>
                                                    </ul>
    
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div>

                    <!-- ? AKHIR LANGKAH 1 -->
    
                    <div class="row" style="margin-top: 50px;">
                        <!-- Area Chart -->
                        <div class="col-xl col-lg">
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 text-center">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2 mt-2">Langkah 2 |
                                        <span style="color: #81f700;">Rekam Medis Pasien</span>
                                    </div>
                                </div>
                                <div class="tab-content" id="nav-tabContent">
                                    <!-- ! STEP 1 -->
                                    <div
                                        class="tab-pane fade show active"
                                        id="step-diagnosa"
                                        role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <div class="container">
                                            <% if(pasienSudahResep.length == 0) { %>
                                                <!-- ! Jika TIDAK ADA PASIEN PERIKSA -->
                                                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                                    <strong>Tunggu Resep dari Dokter dulu</strong> <a href="/homePerawat">refresh</a>
                                                </div>
                                                <% } else if(pasienSudahResep.length > 0) { %>
                                                    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                                                        <strong>Buat Rekam medis</strong> <a href="/homePerawat">refresh</a>
                                                    </div>
                                                <% } %>
    
                                                <div class="row">
                                                    <div class="col col-8">
    
                                                        <ul class="list-group mb-4">
                                                            <% pasienSudahResep.forEach((pasien) => { %>
                                                                <li class="list-group-item bg-light">
                                                                    <div class="row">
                                                                        <div class="col col-6">
                                                                            <%= pasien.nama_pasien%>
                                                                            <span class="badge badge-danger"><%= pasien.kode_reg_pasien%></span>
                                                                        </div>
                                                                        <div class="col col-6">
                                                                            <button
                                                                                type="button"
                                                                                class="btn btn-info btn-sm float-right badge-pill ml-3 font-weight-bold"
                                                                                data-toggle="modal"
                                                                                data-target="#rekamMedis<%= pasien.kode_reg_pasien%>">BUAT REKAM</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </li>
                                                                
                                                                <!-- ! MODAL DIANGOSA -->
                                                                <% pasienSudahResep.forEach((pasien) => { %>
                                                                    <div
                                                                    class="modal fade"
                                                                    id="rekamMedis<%= pasien.kode_reg_pasien%>"
                                                                    tabindex="-1"
                                                                    role="dialog"
                                                                    aria-labelledby="exampleModalLabel"
                                                                    aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header justify-content-center">
                                                                                <h5 class="modal-title" id="exampleModalLabel"><%= pasien.nama_pasien%> <span>(<%= pasien.tempat_pemeriksaan%>)</span></h5>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form action="/homePerawat/pasienSudahRekam" method="post">
                                                                                    <div class="form-row">
                                                                                            <input type="hidden" name="kode_reg_pasien" value="<%= pasien.kode_reg_pasien%>">
                                                                                                <div class="form-group col-md">
                                                                                                    <label for="inputPassword4">Nama Dokter</label>
                                                                                                    <select class="form-control float-left" name="kode_dokter" required>
                                                                                                        <option value="" selected="selected" disabled>-- Pilih Dokter --</option>
                                                                                                        <% dokter.forEach((result) => { %>
                                                                                                            <option value="<%= result.kode_dokter%>"><%= result.nama_dokter %> (<%= result.spesialis %>)</option>
                                                                                                            <% }) %>
                                                                                                            </select>
                                                                                                </div>
                                                                                            </div>
                                                    
                                                                                                    <div class="form-group">
                                                                                                        <label for="alamat">Hasil Diagnosa</label>
                                                                                                        <select class="form-control" name="kode_diagnosa" required>
                                                                                                            <option value="" selected="selected" disabled>-- Pilih Diagnosa --</option>
                                                                                                            <% join.forEach((result) => { %>
                                                                                                                <option value="<%= result.kode_diagnosa%>"><%= result.tgl_pemeriksaan %>
                                                                                                                    (<%= result.nama_pasien%>)</option>
                                                                                                                <% }) %>
                                                                                                                </select>
                                                                                                            </div>
                                                    
                                                                                                                <div class="form-group">
                                                                                                                    <label for="inputPassword4">Nama Obat</label>
                                                                                                                    <select class="form-control" name="kode_obat" required>
                                                                                                                    <option value="" selected="selected" disabled>-- Pilih Obat --</option>
                                                                                                                    <% obat.forEach((result) => { %>
                                                                                                                        <option value="<%= result.kode_obat%>"><%= result.nama_obat %></option>
                                                                                                                        <% }) %>
                                                                                                                        </select>
                                                                                                                    </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="inputPassword4">Tgl Rekam Medis</label>
                                                                                                                    <input
                                                                                                                    type="text"
                                                                                                                    class="form-control"
                                                                                                                    name="tgl_rekam_medis"
                                                                                                                    required
                                                                                                                    placeholder="contoh <%= moment().format('DD MMMM, YYYY') %>">
                                                                                                                    </div>
                                                                                                                            <div class="modal-footer">
                                                                                                                                <button
                                                                                                                                    type="submit"
                                                                                                                                    class="btn btn-lg btn-info btn-block font-weight-bold"
                                                                                                                                    name="tambah"
                                                                                                                                    onclick="alert('Rekam Medis berhasil Ditambah!');"">BUAT</button>
                                                                                                                            </div>
                                                                                                                        </form>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                <% }) %>
                                                                                                <% }) %>
                                                                                                </ul>
    
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
    
                                                            </div>

    <%- include('./partials/footer.ejs') -%>