<%- include('./partials/header.ejs') -%>

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl col-lg">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2 mt-2">Langkah 1 | 
                        <span style="color: #a253db;">Pilih Pasien</span>
                    </div>
                </div>
                  <div class="tab-content" id="nav-tabContent">
                      <!-- ! STEP 1 -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="container">
                            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                    <strong>Antrian Terbaru !</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>

                            <div class="row mt-2 mb-2">
                                <div class="col">
                                    <% pasien.forEach((pasien) => { %>
                                        <div class="card text-center">
                                                <div class="card-header font-weight-bold h4 bg-dark border-0 text-white">
                                                  Antrian <%= pasien.kode_reg_pasien%></span>
                                                </div>
                                        <div class="card-body">
                                            <h5 class="card-title font-weight-bold"><%= pasien.nama_pasien%></h5>
                                            <p class="card-text font-italic"><%= pasien.tempat_pemeriksaan%></p>
                                            <a href="#" class="btn btn-primary float-right font-weight-bold">Periksa</a>
                                            <form action="/dataDokter/<%= pasien.reg_pasien%>?_method=DELETE" method="post">
                                                <button type="submit" class="btn btn-danger float-left font-weight-bold" >Batalkan</button>
                                            </form>
                                        </div>
                                        </div>
                                              <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>

    </div>


    <div class="row" style="margin-top: 100px;">
            <!-- Area Chart -->
            <div class="col-xl col-lg">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 text-center">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2 mt-2">Langkah 2 |
                            <span style="color: #a253db;">Pemberian Diagnosa</span>
                        </div>
                    </div>
                      <div class="tab-content" id="nav-tabContent">
                          <!-- ! STEP 1 -->
                        <div class="tab-pane fade show active" id="step-diagnosa" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-md-6 mb-5 mt-3">
                                            <form action="/dataDiagnosa" method="post">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputPassword4">Tanggal Periksa</label>
                                                        <input type="text" class="form-control" name="tgl_pemeriksaan" placeholder="contoh <%= moment().format('DD MMMM, YYYY') %>">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="inputPassword4">Nama Pasien</label>
                                                        <select class="form-control float-left" name="kode_reg_pasien">
                                                            <option value="" selected>-- Pilih Pasien --</option>
                                                            <% pasienSudahPeriksa.forEach((pasienSudahPeriksa) => { %>
                                                                <option value="<%= pasienSudahPeriksa.kode_reg_pasien%>"><%= pasienSudahPeriksa.nama_pasien %></option>
                                                                <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="alamat">Hasil Pemeriksaan</label>
                                                            <textarea class="form-control" id="alamat" rows="3" name="hasil_pemeriksaan"></textarea>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="inputPassword4">Nama Dokter</label>
                                                                <select class="form-control float-left" name="kode_dokter">
                                                                        <option value="" selected>-- Pilih Dokter --</option>
                                                                    <% dokter.forEach((result) => { %>
                                                                        <option value="<%= result.kode_dokter%>"><%= result.nama_dokter %> (<%= result.spesialis %>)</option>
                                                                        <% }) %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                                <label for="inputCity">Tindakan</label>
                                                                                <select class="form-control float-left" name="kode_tindakan">
                                                                                        <option value="" selected>-- Pilih Tindakan --</option>
                                                                                    <% tindakan.forEach((result) => { %>
                                                                                    <option value="<%= result.kode_tindakan%>"><%= result.nama_tindakan%></option>
                                                                                    <% })  %>
                                                                                </select>
                                                                            </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="nama">Status Pemeriksaan</label>
                                                                        <select class="form-control float-left" name="status_pemeriksaan">
                                                                                <option value="" selected>-- Pilih Status --</option>
                                                                            <option value="Rawat Inap">Rawat Inap</option>
                                                                            <option value="Rawat Jalan">Rawat Jalan</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                        <div class="form-row ">
                                                                            <label for="inputCity">Ruang</label>
                                                                            <select class="form-control float-left" name="kode_ruang">
                                                                                    <option value="" selected>-- Pilih Ruang --</option>
                                                                                <% ruangan.forEach((result) => { %>
                                                                                <option value="<%= result.kode_ruang%>"><%= result.nama_ruang%> <span class="badge badge-pill badge-danger">(<%= result.kelas  %>)</span></option>
                                                                                <% })  %>
                                                                            </select>
                                                                        </div>
                                                                <div class="modal-footer">
                                                                    <button
                                                                        type="submit"
                                                                        class="btn btn-primary btn-lg btn-block"
                                                                        name="tambah"
                                                                        onclick="alert('antrian berhasil ditambah');">Tambah</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ! AKHIR STEP 1 -->
    
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                      </div>
                </div>
            </div>
    
        </div>

    <%- include('./partials/footer.ejs') -%>