<%- include('./partials/header.ejs') -%>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl col-lg">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                    
                        <div class="h5 mb-0 mr-3 font-weight-bold text-dark ml-2 mt-2">Rekam
                                <span style="color: #00cc7f;">Medis</span>
                        </div>
                    <!-- Button trigger modal -->
                </div>
                <button
                    type="button"
                    class="btn btn-lg btn-block tambah mt-2"
                    data-toggle="modal"
                    data-target="#exampleModal">
                    Tambah
                </button>
                <div class="card-body body-kabeh">
                    <div class="table-responsive mt-2">
                        <table class="table table-striped table-light" id="dataTable">
                            <thead>
                                <tr class="bg-light text-dark text-center">
                                    <th>No Rekam</th>
                                    <th>Nama Pasien</th>
                                    <th>Nama Dokter</th>
                                    <th>Obat</th>
                                    <th>Diagnosa</th>
                                    <th colspan="2" class="text-center">Aksi</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% result.forEach((result) => { %>
                                    <tr class="text-center">
                                        <td><%= result.no_rekam_medis%></td>
                                        <td><%= result.nama_pasien%></td>
                                        <td><%= result.nama_dokter%></td>
                                        <td><%= result.nama_obat%></td>
                                        <td><%= result.hasil_pemeriksaan%></td>
                                        <td class="text-right">
                                            <a
                                                href="/rekamMedis/detailRekamMedis/<%= result.no_rekam_medis%>"
                                                class="btn btn-sm">
                                                <img src="/img/edit.png" width="25">
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <form action="/dataDokter/<%= result.kode_resep%>?_method=DELETE" method="post">
                                                <button type="submit" class="btn btn-sm bg-transparent"><img src="/img/delete.png" width="25" onclick="alert('Berhasil Dihapus')">
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <h5 class="modal-title" id="exampleModalLabel">Tambah Rekam Medis</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/rekamMedis" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Nama Pasien</label>
                                        <select class="form-control float-left" name="kode_reg_pasien" required>
                                            <option value="" selected="selected">-- Pilih Pasien --</option>
                                            <% pasien.forEach((result) => { %>
                                                <option value="<%= result.kode_reg_pasien%>"><%= result.nama_pasien %></option>
                                                <% }) %>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputPassword4">Nama Dokter</label>
                                                <select class="form-control float-left" name="kode_dokter" required>
                                                    <option value="" selected="selected">-- Pilih Dokter --</option>
                                                    <% dokter.forEach((result) => { %>
                                                        <option value="<%= result.kode_dokter%>"><%= result.nama_dokter %></option>
                                                        <% }) %>
                                                        </select>
                                            </div>
                                        </div>

                                                <div class="form-group">
                                                    <label for="alamat">Hasil Diagnosa</label>
                                                    <select class="form-control" name="kode_diagnosa" required>
                                                        <option value="" selected="selected">-- Pilih Diagnosa --</option>
                                                        <% diagnosa.forEach((result) => { %>
                                                            <option value="<%= result.kode_diagnosa%>"><%= result.tgl_pemeriksaan %>
                                                                (<%= result.nama_pasien%>)</option>
                                                            <% }) %>
                                                            </select>
                                                        </div>

                                                            <div class="form-group">
                                                                <label for="inputPassword4">Nama Obat</label>
                                                                <select class="form-control" name="kode_obat" required>
                                                                <option value="" selected="selected">-- Pilih Obat --</option>
                                                                <% obat.forEach((result) => { %>
                                                                    <option value="<%= result.kode_obat%>"><%= result.nama_obat %></option>
                                                                    <% }) %>
                                                                    </select>
                                                                </div>
                                                            <div class="form-group">
                                                                <label for="inputPassword4">Tgl Rekam Medis</label>
                                                                <input
                                                                type="text"
                                                                class="form-control"
                                                                name="tgl_rekam_medis"
                                                                required
                                                                placeholder="contoh <%= moment().format('DD MMMM, YYYY') %>">
                                                                </div>
                                                                        <div class="modal-footer">
                                                                            <button
                                                                                type="submit"
                                                                                class="btn btn-lg btn-block font-weight-bold"
                                                                                name="tambah"
                                                                                onclick="alert('Rekam Medis berhasil Ditambah!');" style="background-color: #00cc7f;">Tambah</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <%- include('./partials/footer.ejs') -%>